.container-fluid {
  max-width: 1200px;
}

header, section {
  padding: 0 16px;
}

header {
  min-height: 800px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/hero-background-c9490927.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

header nav {
  height: 90px;
  color: hsla(0,0%,100%,.7);
}

header nav span:not(#logo-text) {
  font-weight: 600;
  font-size: 16px;
  margin-left: 24px;
}

nav .fa-chevron-down {
  margin-left: 3px;
}

nav .logo, .ibutton, nav header {
  color: white;
}

nav .logo #logo-text {
  font-size: 21.5px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 40px;
}

nav .logo i {
  font-size: 29px;
}

.ibutton {
  display: inline-block;
  border: 1px solid hsla(0,0%,100%,.7);
  border-radius: 5px;
  margin-left: 24px;
  padding: 5px 16px 5px;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 1s;
}

.ibutton:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

input, button {
  width: 100%;
}

.hero {
  padding: 64px 0;
  margin-top: 16px;
}

.hero h1, .hero p.description {
  color: white;
}

.hero h1 {
  font-size: 58px;
  font-weight: 700;
}

.hero p.description {
  font-size: 19px;
  font-weight: 200;
  opacity: 0.8;
  margin-top: 16px;
  margin-bottom: 32px;
}

.white-box {
  background-color: white;
  padding: 32px;
  border-radius: 5px;
}

.white-box * {
  margin-top: 16px;
}

.white-box h2 {
  font-weight: bold;
}

.white-box h2.first-h2 {
  color: rgb(3, 27, 78);
}

.white-box h2.second-h2 {
  color: #0069ff;
}

input, button {
  height: 46px;
  padding: 0 16px;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 5px;
}

::placeholder {
  opacity: 1;
  color: rgba(3,27,78,.8);
}

button {
  font-weight: bold;
}

button.account {
  background-color: blue;
  color: white;
}

button {
  background-color: white;
  color: grey;
}

.micro-text {
  padding-top: 16px;
  font-size: 13px;
  color: rgba(3, 27, 78, 0.7);
}

.small-section {
  padding: 64px 0;
}

.logos-section {
  background-color: #f3f5f9;
}

.logos-section .row {
  flex-wrap: wrap;
}

.logos-section .row div {
  max-width: 200px;
  padding: 0 15px;
}

.logos-section .row div img{
  max-width: 100%;
}

.blue-text {
  color: #0069ff;
  font-weight: bold;
}

.fa-chevron-right {
  margin-left: 5px;
  font-size: 14px;
}
